#logo {
    height: 70px;
    width: auto;
    display: block;
    margin: 0 auto
}
ion-toolbar {
    --background: #F5F3E8;
}

.background-image {
  background-image: url('/assets/img/sundown.jpeg'); // path to your image
  background-size: cover;          // makes it cover the whole container
  background-position: center;     // centers the image
  background-repeat: no-repeat;    // prevents tiling
  min-height: 100vh;          // ensures full viewport height
  width: 100%;                // full width
}