<div class="background-image">
<ion-content class="center-content" [fullscreen]="true">
  <ion-card>
    
    <ion-card-header>
      <div class="header-flex">
        <div>
          <ion-card-title>
            <a href="https://datahub.visitfinland.com/" target="_blank" rel="noopener noreferrer">
              <img
                class="datahub-logo"
                src="assets/logo/datahub.svg"
                alt="Visit Finland DataHub"
              />
            </a>
          </ion-card-title>

          <ion-card-content class="small-text">
            Travel data provided by Visit Finland DataHub.
          </ion-card-content>

          <ion-card-content class="credit-row">
            <a class="credit-link" href="https://github.com/vhlahti" target="_blank" rel="noopener noreferrer">
              <ion-icon size="large" name="logo-github"></ion-icon>
            </a>
            <div class="credit-text">© 2025 vhlahti</div>
          </ion-card-content>
        </div>
      </div>
    </ion-card-header>

  </ion-card>
</ion-content>
</div>