.heading{
    font-size: 32px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: -60px;
}
.para{
    font-size: 22px;
    font-weight: 500;
    padding-left: 20px;
    margin-bottom: 70px;
    color: #A6ABB1;
    padding-top: 0.2rem;
}
.input-item{
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e2e2e2;
    height: 56px;
    ion-input{
        margin-top: -12px;
    }
}
.ion-item{
    margin-top: 20px;
}
.action-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 60px;
    --box-shadow: none;
}
.suggestion-text{
    a{
        text-decoration: none;
        color: var(--ion-color-primary);
    }
    padding-right: 20px;
    text-align: end;
}
.suggestion-link {
    padding-left: 0.2rem;
    cursor: pointer;
}
.error-text {
    margin-left: 1.5rem;
}
.container {
    max-width: 500px;
    margin: 0 auto;
}
.welcome-text {
    margin-left: 0.5rem;
}