<div class="container">
    <h1 class="heading">Welcome<br><br></h1>
    <p class="para">Log in to continue!</p>
    <form>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Username</legend> 
          <ion-input formControlName="username" type="username" placeholder="username"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend> 
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="suggestion-text">I'm a new user.<a class="suggestion-link">Sign up?</a></p>
      <ion-button class="action-button" expand="block">Log in</ion-button>
    </form>
</div>