.image-wrapper {
  width: 240px;
  height: 120px;
  overflow: hidden;
  display: block;
  margin: 0 auto; /* center the image horizontally */
  border-radius: 4px; /* optional */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* fill and crop to maintain aspect */
  object-position: center;
  display: block;
  padding: 0.2rem;
}

.text-center {
  text-align: center;
}

.card-list {
    margin: 0.2rem 0 0 0;
    max-width: 400px;
    justify-self: center;
    background-color: rgba(211, 211, 211, 0.2);
}

.product-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: width 0s;
  min-width: 340px;
  max-width: 500px;
  padding: 0;

  ion-card-header {
    text-align: center;
    padding: 8px 8px 0 8px;
  }

  ion-card-title {
    font-size: 1rem;
    font-weight: 600;
    order: 1;
  }

  ion-card-subtitle {
    font-size: 0.8rem;
    color: var(--ion-color-medium);
    order: 2;
  }

  ion-card-content {
    padding: 0;
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 130px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.scroll-viewport {
  height: 100vh; /* or a specific container height */
  width: 100%;
  overflow: auto;
}

.loading-message {
  margin: 1rem;
}

#heart-button {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --border-radius: 50%;
  --background: transparent;

  ion-icon {
    font-size: 1.5rem;
    transition: transform 0.2s ease;
  }

  &:active ion-icon {
    transform: scale(1.2);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.filter-dropdown {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.filter-dropdown ion-item {
  --background: transparent;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-start: 1rem;
  width: 300px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 8px;;
}

@media (max-width: 600px) {
  .card-list {
    max-width: 100%;
    width: 100%;
    padding: 0 0.5rem; /* small side padding */
  }

  .product-card {
    width: 100%;
    min-width: unset;
    max-width: unset;
    margin: 0 auto;
  }

  .image-wrapper {
    width: 100%;
    height: 150px;
  }
}