<div class="filter-buttons">
  <ion-button
    size="small"
    [fill]="selectedCategory === 'all' ? 'solid' : 'outline'"
    (click)="filterByCategory('all')">
    All
  </ion-button>
  <ion-button
    *ngFor="let cat of productCategories"
    size="small"
    [fill]="selectedCategory === cat ? 'solid' : 'outline'"
    (click)="filterByCategory(cat)">
    {{ formatCategory(cat) }}
  </ion-button>
</div>

<div *ngIf="filteredProducts.length > 0; else loading">
  <cdk-virtual-scroll-viewport itemSize="200" class="scroll-viewport">
  <div class="card-list">
    <ion-card *cdkVirtualFor="let product of filteredProducts" class="product-card">
      <div class="image-wrapper">
        <img
          [src]="product.productImages[0]?.thumbnailUrl || 'assets/img/card-placeholder-small.png'"
          [alt]="product.productImages[0]?.altText || product.productInformations[0]?.name || 'Product image'"/>
      </div>

      <ion-card-header>
        <ion-card-title class="text-center">{{product.productInformations[0]?.name}}</ion-card-title>
        <ion-card-subtitle class="text-center">{{product.company.businessName}}</ion-card-subtitle>
      </ion-card-header>      

      <ion-card-content class="buttons">
        <a routerLink="/item-detail/{{product.id}}"><ion-button size="small">Details</ion-button></a>
        <ion-button id="heart-button" fill="clear" (click)="toggleFavorite(product.id)">
        <ion-icon 
          slot="icon-only"
          [name]="isFavorite(product.id) ? 'heart' : 'heart-outline'"
          [color]="isFavorite(product.id) ? 'danger' : 'danger'">
        </ion-icon>
      </ion-button>
      </ion-card-content>

    </ion-card>
  </div>
  <p class="text-center">End of list.</p>
  </cdk-virtual-scroll-viewport>
</div>
  
<ng-template #loading>
  <p class="loading-message">Loading items...</p>
</ng-template>