.image-wrapper {
  width: 240px;
  height: 120px;
  overflow: hidden;
  display: block;
  margin: 0 auto; /* center the image horizontally */
  border-radius: 4px; /* optional */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* fill and crop to maintain aspect */
  object-position: center;
  display: block;
  padding: 0.2rem;
}

.text-center {
  text-align: center;
}

.card-list {
    margin: 0.2rem 0 0 0;
    max-width: 400px;
    justify-self: center;
    background-color: rgba(211, 211, 211, 0.2);
}

.product-card {
  margin-top: 0.5rem;
  width: 340px;
  box-sizing: border-box;
  transition: width 0s;
}

.scroll-viewport {
  height: 100vh; /* or a specific container height */
  width: 100%;
  overflow: auto;
}

.loading-message {
  margin: 1rem;
}